<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookHive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="/js/scripts.js"></script>
     <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
            background-size: cover; /* Cover the entire container */
            background-repeat: no-repeat; /* Prevent repeating */
            background-attachment: fixed;;
        }
    </style> 
</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-dark text-bg-dark p-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <div id="font">BookHive</div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active"  id="font" aria-current="page" href="/">Home</a>
        </li>
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" 
        id="userInput" placeholder="Search book" aria-label="Search">
        <button class="btn btn-outline-success"
        onclick="findBook()" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<div id="main-body">
    <div id="welcome-message">
        <h2>Welcome to BookHive <br>
        your ultimate destination for discovering captivating reads. Explore a vast collection of books spanning diverse genres and authors. From gripping thrillers to heartwarming classics, we curate an extensive selection to satisfy every reader's palate. Our user-friendly search function simplifies the quest for your next literary adventure. Dive into our featured titles, browse top categories, and stay updated on the latest releases. Let the journey to finding your next favorite book begin here.</br></h2>
    </div>
    {{{body}}}
</div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>
</html>