
#main-body{
    margin-top: 100px;
    margin-bottom: 50px;
}
#font{
    font-weight: bolder;
    font-family: 'Papyrus';
    font-size: larger;
}
#welcome-message{
    font-size: 100px;
    color: rgb(7, 7, 7);
    text-align: center;
    font-family: 'Brush Script MT';
    margin-top: 300px;
}